---
layout: default
---
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<section class="hero">
  <h1>Marcus DuPont</h1>
</section>
<section class="content">
  <section class="ct_icon_box_section">
    <div class="container">
      <div class="ct-section_header ct-section_header--type2">
        <h2>About Me</h2>
        <div class="ct-section_header-description">Third Year Physics PhD Student</div>
        <div class="clearfix"></div>
        <div class="ct-section_header-separator"></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="ct-icon_box media" onclick="location.href='#'">
            <div class="media-body">
              <h3 class="col-md-6 media-heading">Resarch Interests</h3>
              <div class="col-md-6">
                My main area of study is astrophysical transients. 
                More specifically, I explore gas dynamics of cataclismic explosions
                such as supernovae (SNe), gamma-ray bursts (GRBs), X-ray flashes (XRFs), and Fast Blue
                Optical Transients (FBOTs). I study these by means of a two-dimensional special relativistic
                hydro code entitled SIMBI that I wrote to compile on CPUs as well as NVidia and AMD GPUs.
                I want to use this code in order to intensively study the conditions 
                predating stellar death which involve components like strong shock waves, ultra-relativistic speeds, 
                and magnetic fields. Ultimately, I am interested in proposing self-consistent models that constrain 
                the main ingredients to these catasophic events. 
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="ct-icon_box media" onclick="location.href='#'">
            <div class="media-body">
              <h3 class="col-md-6 media-heading">Publications</h3>
              <div class="col-md-6 ct-icon_box-content">Improve sales through the use of Big Data and Analytics.</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="ct-icon_box media" onclick="location.href='#'">
            <div class="media-body">
              <h3 class="col-md-6 media-heading">Positions Held</h3>
              <div class="col-md-6 ct-icon_box-content">
                Physics Graduate Student
              </div>
              <!-- <div class="ct-icon_box-content">Benefit from award winning mobile responsive design.</div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ct_icon_box_section">
    <div class="container">
        <div class="ct-section_header ct-section_header--type2">
            <h2>Contact Me</h2>
            <div class="ct-section_header-description">md4469[at]nyu[dot]edu</div>
            <div class="clearfix"></div>
            <div class="ct-section_header-separator"></div>
            </div>
    </div>
</section>
<footer>
    Marco Dupo
</footer>
</section>

